body { 
    font-family: Arial, sans-serif;
    background: #1E1F20;
    color: #C4C1C5;
    margin: 0;
    padding: 0;
}
.container {
    width: 1100px;
    height: 400px; 
    margin: 80px auto;
    background: #0E0E0E; 
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 3px 8px rgba(188, 87, 87, 0.1);
}
.card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    padding: 24px 28px 0;
}
.card-body {
    display: flex;
    flex-direction: row;
}
img.logo {
    display: block;
    margin: 0;
    width: 60px;
    height: auto;
}
.title-block { 
    padding: 10px;
    width: 70%;
}
form {
    display: flex;
    width: 100%;
    padding: 12px 28px 24px;
    gap: 10px;
    flex-direction: column;
    align-items: flex-end;
}
label {
    display: block;
    width: 70%;
    margin-bottom: 6px;     
    font-weight: bold;
    text-align: left;
}
input[type="email"], input[type="password"], input[type="text"] { 
    display: block;
    width: 70%; 
    height: 50px;
    padding: 8px;
    font-size: 16px;
    background-color: #0E0E0E; 
    color: #C4C1C5;
    margin-bottom: 14px; 
    border: 0.5px solid #C4C1C5; 
    border-radius: 4px; 
    box-sizing: border-box;
}
button { 
    width: 100px; 
    padding: 10px;
    margin-top: 10px;  
    background: #A8C7FA; 
    color: #062E6F; 
    border: none; 
    border-radius: 30px; 
    font-size: 15px;
    font-weight: 545;
    cursor: pointer;
}
button:hover { 
    background: #c1d9ff;
}
#registerBtn {
    background: #0E0E0E;
    color: #8BA5CF;
    margin: -47px 120px 0 0;
}